@{
    ViewData["Title"] = "Home Page";
}

<div id="geSearch" class="container">
    <form>
        <div class="form-group">
            <input class="form-control" v-model="searchText" />
        </div>
        <div class="container" v-if="items && showSearch">
            <ul>
                <li v-for="item in items">
                    <a :href="'#' + item.id" v-on:click="getItem(item.id)">{{ item.name }}</a>
                </li>
            </ul>
        </div>
    </form>
    <div class="loading d-flex align-items-center" v-if="isSearching">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading</span>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div v-show="selectedItem" class="card-body">
                <div class="card-img-top">
                    <div id="itemPrices" class="container" v-show="!isSearching" style="width: 1000px; height: 400px;">
                        <canvas></canvas>
                    </div>
                </div>
                <div class="card-text">
                    <div class="container" v-if="selectedItem && !isSearching">
                        <div class="row">
                            <img :src="selectedItem.icon" />
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>{{ selectedItem.name }}</strong>
                            </div>
                            <div class="col-lg-3">
                                <i>{{ selectedItem.description }}</i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Current Trend</strong>
                            </div>
                            <div class="col-lg-3">
                                {{ selectedItem.current.trend}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <strong>Price</strong>
                            </div>
                            <div class="col-lg-3">
                                {{selectedItem.current.price}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
