@{
    ViewData["Title"] = "Home Page";
}

<div id="geSearch" class="container">
    <form>
        <div class="form-group">
            <input class="form-control" v-model="searchText" />
        </div>
        <div class="container" v-if="items && showSearch">
            <ul>
                <li v-for="item in items">
                    <a :href="'#' + item.id" v-on:click="getItem(item.id)">{{ item.name }}</a>
                </li>
            </ul>
        </div>
    </form>
    <div v-if="isSearching">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading</span>
        </div>
    </div>
    <div id="itemPrices" class="container" style="width: 1000px; height: 400px;">
        <canvas></canvas>
    </div>
    <div class="container" v-if="selectedItem">
        <div class="row">
            <img :src="selectedItem.icon" />
        </div>
        <div class="row">
            <div class="col-sm-3">
                {{ selectedItem.name }}
            </div>
            <div class="col-lg-3">
                {{ selectedItem.description }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Current Trend
            </div>
            <div class="col-lg-3">
                {{ selectedItem.current.trend}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Price
            </div>
            <div class="col-lg-3">
                {{selectedItem.current.price}}
            </div>
        </div>
    </div>
</div>
